img {width: 300px;
    position: center}
#img {width: 300px;
    height: 300px;
    margin-top: -10px;}
@font-face {
    font-family: 'HuiFont';
    src: url('/HuiFont Regular/HuiFont Regular.ttf')}
body {font-family: 'HuiFont', sans-serif}
a {text-decoration: none;}
#header{
    width: 310px;
    height:50px;}
.center {
    text-align: center;
    margin-right: auto;
    margin-left: auto}
#insta {
    margin-top: 10px;
    width: 50px;
    height: 50px;}
#spotify {
    margin-top: 10px;
    width: 50px;
    height: 50px;
}
.link {
    margin-right: auto;
    margin-left: auto;
    width: max-content;
}
.poster{
    width:350px;
}
